@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", system-ui;

  --animate-color-pulse: colorPulse 7s ease-in-out infinite;
  --animate-border-pulse: borderPulse 7s ease-in-out infinite;
  --animate-border-left: borderLeft 7s ease-in-out infinite;
  --animate-border-right: borderRight 7s ease-in-out infinite;

  @keyframes borderPulse {
    0%, 100% { border-color: var(--color-gray-300);
                box-shadow:  0 0 10px rgba(255, 145, 0, 0.35),
                              0 8px 5px rgba(0, 0, 0, .5);
    }
    55%, 65%       { border-color: var(--color-gray-400);
                box-shadow:  0 0 10px rgba(255, 145, 0, 0.05),
                              0 8px 5px rgba(0, 0, 0, .15);
    }
  }

  @keyframes borderLeft {
    0%, 100% { border-color: var(--color-gray-300);
                box-shadow:  0 0 10px rgba(255, 145, 0, 0.35),
                              -4px 8px 5px rgba(0, 0, 0, .5);
    }
    55%, 65%       { border-color: var(--color-gray-400);
                box-shadow:  0 0 10px rgba(255, 145, 0, 0.05),
                              -4px 8px 5px rgba(0, 0, 0, .15);
    }
  }

  @keyframes borderRight {
    0%, 100% { border-color: var(--color-gray-300);
                box-shadow:  0 0 10px rgba(255, 145, 0, 0.35),
                              4px 8px 5px rgba(0, 0, 0, .5);
    }
    55%, 65%       { border-color: var(--color-gray-400);
                box-shadow:  0 0 10px rgba(255, 145, 0, 0.05),
                              4px 8px 5px rgba(0, 0, 0, .15);
    }
  }

  @keyframes colorPulse {
    0%, 100% { color: var(--color-yellow-50);
                text-shadow:  0 0 10px rgba(255, 145, 0, 0.25),
                              0 8px 4px rgba(0, 0, 0, .5);
    }
    55%, 65%       { color: var(--color-gray-400);
                text-shadow:  0 0 10px rgba(255, 145, 0, 0.05),
                              0 8px 4px rgba(0, 0, 0, .15);
    }
  }
}